<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" 
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <appender name="reqreply" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${log4j.tomcat.logpath}/reqreply-rest.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>
    
    
    
    <logger name="org.apache.activemq">
        <level value="INFO" />
        <appender-ref ref="reqreply" />
    </logger>    

    <logger name="hanulhan.jms.spring.reqreply">
        <level value="TRACE" />
        <appender-ref ref="reqreply" />
    </logger>    

    <logger name="org.springframework.jms">
        <level value="DEBUG" />
        <appender-ref ref="reqreply" />
    </logger>    

    <logger name="javax.jms">
        <level value="DEBUG" />
        <appender-ref ref="reqreply" />
    </logger>    


    <logger name="org.apache.activemq.util.ThreadPoolUtils">
        <level value="INFO"/>
        <appender-ref ref="reqreply" />
    </logger>

    
    <logger name="org.springframework.beans">
        <level value="TRACE" />
    </logger>

<!--    <logger name="org.springframework.xbean">
        <level value="DEBUG" />
    </logger>-->

    <logger name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader">
        <level value="TRACE" />
    </logger>
    

    <root>
        <level value="INFO" />
        <appender-ref ref="console" />
    </root>


</log4j:configuration>