<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"   
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/tx 
      http://www.springframework.org/schema/tx/spring-tx-3.0.xsd      
      http://www.springframework.org/schema/jms
      http://www.springframework.org/schema/jms/spring-jms.xsd
      http://www.springframework.org/schema/task 
      http://www.springframework.org/schema/task/spring-task-3.0.xsd
">
    <!--    springTest-jmsReqReply.xml   -->

    <import resource="classpath*:/spring/spring_amq_message_broker.xml" />
    <import resource="classpath:/spring/spring_jmsReqReply.xml" />

    <bean id="brokerSettingsBean" class="com.acentic.cloudservices.messagebroker.BrokerSettings" >
        <property name="jmxServiceURL"   value="${jms.broker.service.url}" />
        <property name="mBeanObjectName" value="${jms.broker.mbean.objectName}" />
        <property name="brokerURL"       value= "${jms.broker.url}" />
        <property name="sendTimeout"     value= "${jms.broker.send.timeout}" />
        <property name="queueNameList">
            <list>
                <value>${statistics.queue.name}</value>
            </list>
        </property>
    </bean>

    <bean id="bean_vmReqProducer" class="hanulhan.jms.spring.reqreply.beans.ReqReplyPollingProducer" scope="singleton" >
        <description>
            Message Producer to send Requests to the VM-Req Topic
            and awaiting the Respnse
        </description>
        <property name="destination" ref="bean_vmReqTopic"   />
        <property name="jmsTemplate" ref="bean_jmsTemplate" />
    </bean>


    <bean id="bean_vmReqTopic" class="org.apache.activemq.command.ActiveMQTopic" scope="singleton" >
        <description>The Topic to send requests to the systems</description>
        <constructor-arg value="vmReqTopic" />
    </bean>

    <bean   id="bean_restServiceStatisticsProducer" class="com.acentic.cloudservices.statistics.beans.StatisticsProducerThread" scope="singleton" >
        <property name="serviceName"    value="#{bean_StatisticsServiceName.STATISTIC_REST_SERVICE}" />
        <property name="statisticsSettings" ref="statisticsSettingsBean" />
        <property name="jmsTemplate"     ref="bean_jmsQueueTemplate" />
        <property name="delay"           value="1000" />
        <property name="threadSleeptime" value="1" />
    </bean>

    
    
    
</beans>