<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"   
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/tx 
      http://www.springframework.org/schema/tx/spring-tx-3.0.xsd      
      http://www.springframework.org/schema/jms
      http://www.springframework.org/schema/jms/spring-jms.xsd
      http://www.springframework.org/schema/task 
      http://www.springframework.org/schema/task/spring-task-3.0.xsd
">
    <!--    springTest-jmsReqReplyConsumer.xml   -->
    <import resource="classpath:/spring/spring_jmsReqReplyConsumer.xml" />

    <bean id="bean_ReqReplySettings" class="hanulhan.jms.spring.reqreply.util.ReqReplySettings">
        <property name="destination"        ref="bean_vmReqTopic" />
        <property name="maxMessageLength"   value="100" />
        <property name="serverId"           value="B2B-1" />
        <property name="filterPropertyName" value="systemIdent" />
    </bean>

    
    <bean id="bean_amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${jms.broker.url}" />
        <property name="sendTimeout" value="0" />
    </bean>

                
    <bean id="bean_connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <description>
            This SingleConnectionFactory is useful for testing and standalone 
            environments so that the same connection can be used for multiple 
            JmsTemplate calls that may span any number of transactions
        </description>
        <property name="targetConnectionFactory" ref="bean_amqConnectionFactory" />
    </bean>
    
   
    <bean id="bean_jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="pubSubDomain" value="false" />
        <property name="connectionFactory" ref="bean_connectionFactory" />
    </bean>
    

    <bean id="bean_vmReqTopic" class="org.apache.activemq.command.ActiveMQTopic" scope="singleton" >
        <description>The Topic to send requests to the systems</description>
        <constructor-arg value="vmReqTopic" />
    </bean>

    <bean id="bean_vmReqReplyProducer" class="hanulhan.jms.spring.reqreply.beans.ReqReplyPollingProducer" scope="prototype" >
        <description>
            Message Producer to send Requests to the VM-Req Topic
            and awaiting the Respnse
        </description>
        <property name="destination" ref="bean_vmReqTopic"   />
        <property name="jmsTemplate" ref="bean_jmsTemplate" />
    </bean>

    <bean id="bean_FilterPropertyInstance" class="hanulhan.jms.spring.reqreply.beans.ReqReplyFilter">
        <property name="identList">
            <list>
                <value>"AAAA"</value>
                <value>"BBBB"</value>
                <value>"CCCC"</value>
            </list>
        </property>
    </bean>

    <jms:listener-container connection-factory="bean_connectionFactory" 
                            container-type="default"
                            acknowledge="auto"
                            destination-type="topic"  >
        <jms:listener destination="vmReqTopic" pubSubDomain="true" ref="bean_jmsReqReplyConsumer" method="receive"/>
    </jms:listener-container>    
    
</beans>