<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd              
        http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-3.0.xsd
    ">
    
    <!-- spring_jmsReqReplyConsumer.xml -->
    
    <bean   id="bean_jmsReqReplyConsumer" class="hanulhan.jms.spring.reqreply.beans.ReqReplyConsumer" scope="singleton" >
<!--        <constructor-arg index="0" type="long"  value="#{bean_ReqReplySettings.getAwaitingConnectionTimeoutMsec()}" />-->
        <constructor-arg index="0" type="long"  value="3000" />
        <property name="jmsTemplate"            ref="bean_jmsTopicTemplate" />
        <property name="reqDestination"         value="#{bean_ReqReplySettings.getReqDestination()}" />
        <property name="filterPropertyName"     value="#{bean_ReqReplySettings.getFilterPropertyName()}" />

        <property name="filterPropertyDelegator" ref="bean_FilterPropertyDelegator" />
        <property name="maxMessageLength"       value="#{bean_ReqReplySettings.getMaxMessageLength()}" />
    </bean>

    <bean id="bean_jmsReqListenerContainer" 
              class="org.springframework.jms.listener.DefaultMessageListenerContainer"
              p:connectionFactory-ref="bean_DefaultConnectionFactory"
              p:destinationName="#{bean_ReqReplySettings.getReqDestinationName()}"
              p:messageListener-ref="bean_jmsReqReplyConsumer"
              p:pubSubDomain="true"
              p:subscriptionDurable="false"
              p:durableSubscriptionName="${request.durable.subscriber.name}"
              p:errorHandler-ref="bean_jmsErrorHandler"
              p:sessionAcknowledgeModeName="AUTO_ACKNOWLEDGE"/>
    
</beans>
