<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"  
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/jms
      http://www.springframework.org/schema/jms/spring-jms.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/util 
      http://www.springframework.org/schema/util/spring-util.xsd      
      http://www.springframework.org/schema/task 
      http://www.springframework.org/schema/task/spring-task-3.0.xsd      
      http://www.springframework.org/schema/jee  
      http://www.springframework.org/schema/jee/spring-jee-3.0.xsd      
      http://www.springframework.org/schema/tx 
      http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
>

    <import resource="classpath:/spring/spring_ReqReply_rest.xml" />      
    
    <bean id="bean_ReqReplySettings" class="hanulhan.jms.spring.reqreply.util.ReqReplySettings">
        <property name="reqDestination"        ref="bean_vmReqTopic" />
        <property name="reqDestinationName"    value="${topic.name.request}" />
        <property name="replyDestination"      ref="bean_vmReplyTopic" />
        <property name="maxMessageLength"   value="${message.length}" />
        <property name="serverId"           value="${server.id}" />
        <property name="filterPropertyName" value="SYSTEM_IDENT" />
    </bean>
    
    
    <bean   id="bean_jmsReqReplyConsumer1" class="hanulhan.jms.spring.reqreply.beans.ReqReplyConsumer" scope="singleton" >
        <property name="jmsTemplate"            ref="bean_jmsTopicTemplate" />
        <property name="reqDestination"         value="#{bean_ReqReplySettings.getReqDestination()}" />
        <property name="replyDestination"       value="#{bean_ReqReplySettings.getReplyDestination()}" />
        <property name="filterPropertyName"     value="#{bean_ReqReplySettings.getFilterPropertyName()}" />
        <property name="maxMessageLength"       value="#{bean_ReqReplySettings.getMaxMessageLength()}" />
        <property name="serverId"               value="#{bean_ReqReplySettings.getServerId()}" />
    </bean>
    



    
    <bean id="bean_amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${broker.url}" />
        <property name="sendTimeout" value="0" />
    </bean>

    <bean id="bean_CachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <description> 
            The CachingConnectionFactory extends the functionality of SingleConnectionFactory 
            and adds the caching of Sessions, MessageProducers, and MessageConsumers. 
            The initial cache size is set to 1, use the property sessionCacheSize 
            to increase the number of cached sessions. Note that the number of actual 
            cached sessions will be more than that number as sessions are cached based 
            on their acknowledgment mode, so there can be up to 4 cached session instances 
            when sessionCacheSize is set to one, one for each acknowledgment mode. 
            MessageProducers and MessageConsumers are cached within their owning session 
            and also take into account the unique properties of the producers 
            and consumers when caching. MessageProducers are cached based on their 
            destination. MessageConsumers are cached based on a key composed of the 
            destination, selector, noLocal delivery flag, and the durable subscription 
            name (if creating durable consumers).
            
            Note that the number of actual cached sessions will be more than that number as sessions 
            are cached based on their acknowledgment mode, so there can be up to 4 cached session instances 
            when sessionCacheSize is set to one.
        </description>

        <constructor-arg ref="bean_amqConnectionFactory" />
        <property name="reconnectOnException" value="true" />
<!--        <property name="exceptionListener" ref="bean_brokerExceptionListenerBean" /> -->
        <property name="sessionCacheSize" value="10" />
    </bean>

    <bean id="bean_SingleConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <description>
            This SingleConnectionFactory is useful for testing and standalone 
            environments so that the same connection can be used for multiple 
            JmsTemplate calls that may span any number of transactions
        </description>
        <property name="targetConnectionFactory" ref="bean_amqConnectionFactory" />
        <property name="reconnectOnException" value="true" />
        <property name="clientId" value="B2B-1" />
    </bean>
    
    <bean id="bean_brokerExceptionListenerBean" class="com.acentic.cloudservices.messagebroker.beans.BrokerExceptionListenerBean" />
    
    <!-- Which connectionFactory should be used -->
    <alias name="bean_SingleConnectionFactory" alias="bean_DefaultConnectionFactory" />
       
    <bean id="bean_jmsTopicTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="pubSubDomain" value="true" />
        <property name="connectionFactory" ref="bean_DefaultConnectionFactory" />
    </bean>
    

    <bean id="bean_vmReqTopic" class="org.apache.activemq.command.ActiveMQTopic" scope="singleton" >
        <description>The Topic to send requests to the systems</description>
        <constructor-arg value="${topic.name.request}" />
    </bean>
    
    <bean id="bean_vmReplyTopic" class="org.apache.activemq.command.ActiveMQTopic" scope="singleton" >
        <description>The Topic to receive the response from the system</description>
        <constructor-arg value="${topic.name.response}" />
    </bean>



    <bean id="bean_jmsErrorHandler" class="hanulhan.jms.spring.reqreply.util.JMSReqErrorHandler" />
    
    <bean id="bean_jmsReqListenerContainer" 
          class="org.springframework.jms.listener.DefaultMessageListenerContainer"
          p:connectionFactory-ref="bean_SingleConnectionFactory"
          p:destinationName="#{bean_ReqReplySettings.getReqDestinationName()}"
          p:messageListener-ref="bean_jmsReqReplyConsumer1"
          p:pubSubDomain="true"
          p:subscriptionDurable="false"
          p:durableSubscriptionName="${request.durable.subscriber.name}"
          p:errorHandler-ref="bean_jmsErrorHandler"
          p:sessionAcknowledgeModeName="AUTO_ACKNOWLEDGE"/>



</beans>